@import url("components/button.css");
@import url("components/footer.css");
@import url("components/form.css");
@import url("components/message.css");
@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  height:100%;
  width: 100%;
  min-height: 100vh; /* Garantit que la page prend toute la hauteur de l'écran */
  margin: 0; /* Supprime toute marge de body */
  padding: 0; /* Supprime tout padding de body */
  background: #f4f4f4;
}

a {
  text-decoration: none;
}
