.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Assurer que la page prend toute la hauteur */
}

/* Conteneur du formulaire centré */
.form-container {
  display: flex;
  justify-content: center; /* Centrer horizontalement */
  align-items: center;     /* Centrer verticalement */
  flex: 1; /* Prendre tout l'espace disponible entre le header et footer */
  background-color: #f4f4f4; /* (optionnel) une couleur de fond pour mieux voir l'effet */
  padding: 0 16px;
}

/* Style de la boîte contenant le formulaire */
.form-wrapper {
  width: 100%;
  max-width: 400px;
  box-shadow: 0 0 20px rgba(49, 79, 211, 0.5);
  text-align: center;
  background: white;
  padding: 20px 16px;
  border-radius: 12px;
  margin: 0 auto;
}

/* Style des labels */
label {
  display: block;
  margin: 15px 0 5px;
  font-weight: bold;
}

/* Style des champs de saisie */
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%; /* Prendre toute la largeur du formulaire */
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

select[type="text"] {
  width: 100%; /* Prendre toute la largeur du formulaire */
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

/* Responsive : ajustement pour différentes tailles d'écran */
@media(max-width: 900px) {
  .container {
    width: 700px;
  }
}
@media(max-width: 750px) {
  .container {
    width: 450px;
  }
}
@media(max-width: 500px) {
  .container {
    width: 350px;
  }
}
